header {
    padding-top: 1rem;
    .logo {
        order: 1;
        font-size: 2.3rem;
        margin-bottom: 1rem;
        font-family: 'Montserrat', sans-serif;

        span {
            font-size: 5rem;
            color: $lightBlue;
        }

        span:hover {
            filter: brightness(1.15);
        }
    }

    .navbar {
        input[type="checkbox"], .hamburger-lines {
            display: none;
        }

        width: 100%;

        .navbar-container {
            display: flex;
            justify-content: space-between;
            height: 64px;
            align-items: center;

            .menu-items {
                order: 2;
                display: flex;
    
                li {
                    list-style: none;
                    margin-left: 1.5rem;
                    margin-bottom: 0.5rem;
                    font-size: 1.2rem;
                }
                
                a, a:visited {
                    color: $textColor;
                }
    
                a:hover {
                    color: $lighterGray;
                    transition: color 0.3s ease-in-out;
                }
            }
        }
    }

    @media screen and (max-width: $normalScreen) {

        .menu-items {
            background: $lighterGray;
            color: $darkGray;
            height: 100vh;
            width: 120%;
            transform: translate(-150%);
            display: flex;
            flex-direction: column;
            margin-left: -40px;
            padding-left: 50px;
            transition: transform 0.5s ease-in-out;
            box-shadow: 5px 0px 10px 0px #aaa;

            li {
                margin-bottom: 1.5rem;
                font-size: 1.3rem;
                font-weight: 500;
            }
        }


        .navbar {
          opacity: 0.95;

            .logo {
                position: absolute;
                right: 5px;
                font-size: 1rem;

                span {
                    font-size: 3rem;
                }
            }
        }

        .navbar-container {
            display: block;
            position: relative;
            height: 64px;

            input[type="checkbox"], .hamburger-lines {
                display: block;
            }

            input[type="checkbox"]:checked ~ .logo {
                transition: transform 0.5s ease-out;
            }

            input[type="checkbox"]:checked ~ .menu-items {
                transform: translateX(0);
            }

            input[type="checkbox"]:checked ~ .hamburger-lines {
                color: $darkGray;
            }

            input[type="checkbox"]:checked ~ .hamburger-lines .l1 {
                transform: rotate(35deg);
            }

            input[type="checkbox"]:checked ~ .hamburger-lines .l2 {
                transform: scaleY(0);
            }

            input[type="checkbox"]:checked ~ .hamburger-lines .l3 {
                transform: rotate(-35deg);
            }

            input[type="checkbox"] {
                position: absolute;
                display: block;
                height: 32px;
                width: 30px;
                top: 20px;
                left: 20px;
                z-index: 5;
                opacity: 0;
            }

            .hamburger-lines {
                display: block;
                height: 23px;
                width: 35px;
                position: absolute;
                top: 17px;
                left: 20px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .line {
                display: block;
                height: 4px;
                width: 100%;
                border-radius: 10px;
                background: $lightGray;
            }

            .l1 {
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out;
            }

            .l2 {
                transition: transform 0.2s ease-in-out;
            }

            .l3 {
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
            }
        }
    }
}
