html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.hidden {
  opacity: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #d3d3d3;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  background-color: #2d2d30;
  height: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.text-light {
  color: #d3d3d3 !important;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 901px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 901px) {
  .container {
    width: 80%;
  }
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

header {
  padding-top: 1rem;
}
header .logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}
header .logo span {
  font-size: 5rem;
  color: #0099ff;
}
header .logo span:hover {
  filter: brightness(1.15);
}
@media screen and (max-width: 901px) {
  header .logo {
    order: 1;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
  }
  header .logo span {
    font-size: 3rem;
    color: #0099ff;
  }
  header .logo span:hover {
    filter: brightness(1.15);
  }
}

.content {
  grid-area: content;
  color: #d3d3d3;
  text-align: center;
  margin: 0 auto;
  word-break: break-word;
  overflow-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
}
.content h1 {
  font-size: 2em;
}
.content h3 {
  margin: 1.5em 0;
}
.content .console-wrapper {
  display: inline;
  color: white;
}
.content .console-underscore {
  display: inline-block;
  position: relative;
}
.content .underscore {
  font-size: 2rem;
}
.content a, .content a:visited {
  font-size: 2.2rem;
  color: #d3d3d3;
}
@media screen and (max-width: 901px) {
  .content a, .content a:visited {
    font-size: 1.8rem;
  }
}
.content a:hover {
  color: #eeeeee;
  transition: color 0.4s ease-in-out;
}

.about {
  width: 100%;
  padding: 4em;
}

.terminal {
  border-radius: 5px 5px 0 0;
  position: relative;
}
.terminal__top {
  background: #e8e6e8;
  color: black;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.terminal__buttons {
  position: absolute;
  top: 7px;
  left: 5px;
}
.terminal .singleButton {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 15px;
  margin-left: 2px;
  border-width: 1px;
  border-style: solid;
}
.terminal .red {
  background: #ff605c;
  border-color: gray;
}
.terminal .green {
  background: #00ca4e;
  border-color: gray;
}
.terminal .orange {
  background: #ddbd44;
  border-color: gray;
}
.terminal__title {
  text-align: center;
}
.terminal .space {
  margin: 25px;
}
.terminal__body {
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
  background: #252526;
  color: #d3d3d3;
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 8px;
  padding-right: 10px;
}
@media screen and (max-width: 901px) {
  .terminal__body .line {
    font-size: 0.7rem;
  }
  .terminal__body .parameter {
    font-size: 0.5em;
  }
  .terminal__body .command {
    font-size: 0.5em;
  }
  .terminal__body .data {
    font-size: 0.6em;
  }
  .terminal__body .beginning {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 901px) {
  .terminal__body .parameter {
    font-size: 1.5rem;
  }
  .terminal__body .command {
    font-size: 1.5rem;
  }
  .terminal__body .data {
    font-size: 1.1em;
  }
  .terminal__body .beginning {
    font-size: 1.2em;
  }
}
.terminal__body .command {
  margin-top: 15px;
  color: yellow;
}
.terminal__body .parameter {
  color: gray;
}
.terminal__body .data {
  padding-top: 1rem;
}
.terminal pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.terminal .links {
  text-align: justify;
}
.terminal .links a {
  margin-top: 10px !important;
}

.footer {
  padding-top: 3em;
  padding-left: 1em;
  font-size: 0.8em;
}/*# sourceMappingURL=style.css.map */